.chat {
	width: 75%;
	box-sizing: border-box;
	padding: 25px;
	background-color: rgb(7, 42, 73);
}

.iconColor {
	color: #57596f;
}

.flex {
	display: flex;
}

.flexColumn {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.queryBox {
	width: 800px;
	align-items: center;
}

.queryInput {
	width: 100%;
	height: 50px;
	background-color: rgb(20, 20, 20);
	border-radius: 10px;
	border: 0;
	padding: 5px 15px;
	font-size: large;
	color: white;
}

.margin_10 {
	margin: 10px;
}

.chatBox {
	width: 90%;
	padding: 20px;
	overflow-y: auto;
}
