.messageArea {
	width: 100%;
	height: fit-content;
	margin: 5px;
}

.question {
	width: fit-content;
	max-width: 60%;
	float: right;
	text-align: right;
	background-color: rgb(145, 212, 241);
}

.answer {
	width: fit-content;
	max-width: 60%;
	float: left;
	text-align: left;
	background-color: rgb(243, 234, 242);
}

.bubble {
	border-radius: 15px;
	padding: 15px;
}
