.messageArea {
	width: 100%;
	height: fit-content;
	margin: 15px 0px;
}

.question {
	width: fit-content;
	max-width: 60%;
	text-align: right;
	background-color: rgb(34, 38, 51);
}

.answer {
	width: fit-content;
	max-width: 60%;
	text-align: left;
	background-color: rgb(109, 117, 235);
}

.bubble {
	border-radius: 15px;
	padding: 15px;
}

.flexEnd {
	display: flex;
	justify-content: flex-end;
}

.flexStart {
	display: flex;
	justify-content: flex-start;
}
