.chatHeader {
	height: 125px;
	color: white;
	padding: 40px;
	box-sizing: border-box;
	align-items: center;
	background-color: rgb(21, 23, 32);
	/* box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2); */
}

.pdfFileName {
	font-size: large;
	width: 100%;
	border-radius: 25px;
	/* height: 60px; */
	align-items: center;
	padding: 20px;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}
